aiohappyeyeballs==2.6.1 ; python_version == "3.12"
aiohttp==3.11.18 ; python_version == "3.12"
aiosignal==1.3.2 ; python_version == "3.12"
airflow-clickhouse-plugin==1.4.0 ; python_version == "3.12"
alembic==1.16.1 ; python_version == "3.12"
annotated-types==0.7.0 ; python_version == "3.12"
antlr4-python3-runtime==4.11.1 ; python_version == "3.12"
anyio==4.9.0 ; python_version == "3.12"
apache-airflow-providers-common-compat==1.6.1 ; python_version == "3.12"
apache-airflow-providers-common-io==1.5.4 ; python_version == "3.12"
apache-airflow-providers-common-sql==1.26.0 ; python_version == "3.12"
apache-airflow-providers-fab==1.5.3 ; python_version == "3.12"
apache-airflow-providers-ftp==3.12.3 ; python_version == "3.12"
apache-airflow-providers-http==5.2.2 ; python_version == "3.12"
apache-airflow-providers-imap==3.8.3 ; python_version == "3.12"
apache-airflow-providers-smtp==2.0.3 ; python_version == "3.12"
apache-airflow-providers-sqlite==4.0.2 ; python_version == "3.12"
apache-airflow==2.9.3 ; python_version == "3.12"
apispec==6.8.2 ; python_version == "3.12"
argcomplete==3.6.2 ; python_version == "3.12"
asgiref==3.8.1 ; python_version == "3.12"
attrs==25.3.0 ; python_version == "3.12"
babel==2.17.0 ; python_version == "3.12"
blinker==1.9.0 ; python_version == "3.12"
boto3==1.26.165 ; python_version == "3.12"
botocore==1.29.165 ; python_version == "3.12"
cachelib==0.13.0 ; python_version == "3.12"
cachetools==6.2.2 ; python_version == "3.12"
certifi==2025.4.26 ; python_version == "3.12"
cffi==1.17.1 ; python_version == "3.12"
charset-normalizer==3.4.2 ; python_version == "3.12"
click==8.2.1 ; python_version == "3.12"
clickclick==20.10.2 ; python_version == "3.12"
clickhouse-connect==0.8.17 ; python_version == "3.12"
clickhouse-driver==0.2.6 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12"
colorlog==4.8.0 ; python_version == "3.12"
configupdater==3.2 ; python_version == "3.12"
connexion==2.14.1 ; python_version == "3.12"
cron-descriptor==1.4.5 ; python_version == "3.12"
croniter==6.0.0 ; python_version == "3.12"
cryptography==45.0.2 ; python_version == "3.12"
deprecated==1.2.18 ; python_version == "3.12"
dill==0.4.0 ; python_version == "3.12"
dnspython==2.7.0 ; python_version == "3.12"
email-validator==2.2.0 ; python_version == "3.12"
flask-appbuilder==4.5.3 ; python_version == "3.12"
flask-babel==2.0.0 ; python_version == "3.12"
flask-caching==2.3.1 ; python_version == "3.12"
flask-jwt-extended==4.7.1 ; python_version == "3.12"
flask-limiter==3.12 ; python_version == "3.12"
flask-login==0.6.3 ; python_version == "3.12"
flask-session==0.5.0 ; python_version == "3.12"
flask-sqlalchemy==2.5.1 ; python_version == "3.12"
flask-wtf==1.2.2 ; python_version == "3.12"
flask==2.2.5 ; python_version == "3.12"
frozenlist==1.6.0 ; python_version == "3.12"
fsspec==2025.5.0 ; python_version == "3.12"
google-auth-oauthlib==1.2.2 ; python_version == "3.12"
google-auth==2.43.0 ; python_version == "3.12"
google-re2==1.1.20240702 ; python_version == "3.12"
googleapis-common-protos==1.70.0 ; python_version == "3.12"
greenlet==3.2.2 ; python_version == "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.71.0 ; python_version == "3.12"
gspread==6.2.1 ; python_version == "3.12"
gunicorn==23.0.0 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
httpcore==1.0.9 ; python_version == "3.12"
httpx==0.28.1 ; python_version == "3.12"
idna==3.10 ; python_version == "3.12"
ijson==3.4.0 ; python_version == "3.12"
importlib-metadata==8.4.0 ; python_version == "3.12"
inflect==7.5.0 ; python_version == "3.12"
inflection==0.5.1 ; python_version == "3.12"
itsdangerous==2.2.0 ; python_version == "3.12"
jinja2==3.1.6 ; python_version == "3.12"
jmespath==1.0.1 ; python_version == "3.12"
jsonschema-specifications==2025.4.1 ; python_version == "3.12"
jsonschema==4.23.0 ; python_version == "3.12"
lazy-object-proxy==1.11.0 ; python_version == "3.12"
limits==5.2.0 ; python_version == "3.12"
linkify-it-py==2.0.3 ; python_version == "3.12"
lockfile==0.12.2 ; python_version == "3.12"
lz4==4.4.4 ; python_version == "3.12"
mako==1.3.10 ; python_version == "3.12"
markdown-it-py==3.0.0 ; python_version == "3.12"
markupsafe==3.0.2 ; python_version == "3.12"
marshmallow-oneofschema==3.2.0 ; python_version == "3.12"
marshmallow-sqlalchemy==0.28.2 ; python_version == "3.12"
marshmallow==3.26.1 ; python_version == "3.12"
mdit-py-plugins==0.4.2 ; python_version == "3.12"
mdurl==0.1.2 ; python_version == "3.12"
methodtools==0.4.7 ; python_version == "3.12"
more-itertools==10.7.0 ; python_version == "3.12"
multidict==6.4.4 ; python_version == "3.12"
mysql-connector-python==8.0.33 ; python_version == "3.12"
oauthlib==3.3.1 ; python_version == "3.12"
opentelemetry-api==1.27.0 ; python_version == "3.12"
opentelemetry-exporter-otlp-proto-common==1.27.0 ; python_version == "3.12"
opentelemetry-exporter-otlp-proto-grpc==1.27.0 ; python_version == "3.12"
opentelemetry-exporter-otlp-proto-http==1.27.0 ; python_version == "3.12"
opentelemetry-exporter-otlp==1.27.0 ; python_version == "3.12"
opentelemetry-proto==1.27.0 ; python_version == "3.12"
opentelemetry-sdk==1.27.0 ; python_version == "3.12"
opentelemetry-semantic-conventions==0.48b0 ; python_version == "3.12"
ordered-set==4.1.0 ; python_version == "3.12"
packaging==25.0 ; python_version == "3.12"
pathspec==0.12.1 ; python_version == "3.12"
pendulum==3.1.0 ; python_version == "3.12"
pluggy==1.6.0 ; python_version == "3.12"
prison==0.2.1 ; python_version == "3.12"
propcache==0.3.1 ; python_version == "3.12"
protobuf==3.20.3 ; python_version == "3.12"
psutil==7.0.0 ; python_version == "3.12"
pyasn1-modules==0.4.2 ; python_version == "3.12"
pyasn1==0.6.1 ; python_version == "3.12"
pycparser==2.22 ; python_version == "3.12"
pydantic-core==2.33.2 ; python_version == "3.12"
pydantic==2.11.10 ; python_version == "3.12"
pygments==2.19.1 ; python_version == "3.12"
pyjwt==2.10.1 ; python_version == "3.12"
python-daemon==3.1.2 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-dotenv==1.2.1 ; python_version == "3.12"
python-nvd3==0.16.0 ; python_version == "3.12"
python-slugify==8.0.4 ; python_version == "3.12"
pytz==2025.2 ; python_version == "3.12"
pyyaml==6.0.2 ; python_version == "3.12"
referencing==0.36.2 ; python_version == "3.12"
requests-oauthlib==2.0.0 ; python_version == "3.12"
requests-toolbelt==1.0.0 ; python_version == "3.12"
requests==2.32.3 ; python_version == "3.12"
rfc3339-validator==0.1.4 ; python_version == "3.12"
rich-argparse==1.7.0 ; python_version == "3.12"
rich==13.9.4 ; python_version == "3.12"
rpds-py==0.25.1 ; python_version == "3.12"
rsa==4.9.1 ; python_version == "3.12"
ruamel-yaml-clib==0.2.15 ; python_version == "3.12" and platform_python_implementation == "CPython"
ruamel-yaml==0.17.40 ; python_version == "3.12"
s3transfer==0.6.2 ; python_version == "3.12"
setproctitle==1.3.6 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
sniffio==1.3.1 ; python_version == "3.12"
soda-core-mysql-utf8-hotfix==3.5.5.post1 ; python_version == "3.12"
soda-core==3.5.5 ; python_version == "3.12"
sqlalchemy-jsonfield==1.0.2 ; python_version == "3.12"
sqlalchemy-utils==0.41.2 ; python_version == "3.12"
sqlalchemy==1.4.54 ; python_version == "3.12"
sqlparse==0.5.3 ; python_version == "3.12"
tabulate==0.9.0 ; python_version == "3.12"
tenacity==9.1.2 ; python_version == "3.12"
termcolor==3.1.0 ; python_version == "3.12"
text-unidecode==1.3 ; python_version == "3.12"
typeguard==4.4.2 ; python_version == "3.12"
typing-extensions==4.13.2 ; python_version == "3.12"
typing-inspection==0.4.2 ; python_version == "3.12"
tzdata==2025.2 ; python_version == "3.12"
tzlocal==5.3.1 ; python_version == "3.12"
uc-micro-py==1.0.3 ; python_version == "3.12"
unicodecsv==0.14.1 ; python_version == "3.12"
universal-pathlib==0.2.6 ; python_version == "3.12"
urllib3==1.26.20 ; python_version == "3.12"
werkzeug==2.3.8 ; python_version == "3.12"
wirerope==1.0.0 ; python_version == "3.12"
wrapt==1.17.2 ; python_version == "3.12"
wtforms==3.2.1 ; python_version == "3.12"
xmltodict==1.0.2 ; python_version == "3.12"
yarl==1.20.0 ; python_version == "3.12"
zipp==3.21.0 ; python_version == "3.12"
zstandard==0.23.0 ; python_version == "3.12"
